.footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    padding: 60px 120px;
    margin-top: 27px;
}
.footer-logo{
    width: 122px;
}

.footer-text{
    color: white;
    width: 133px;
    text-align: center;
}