.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px ;
    @media (min-width: 747px){
        margin: 45px 100px ;
    }
}


.header-logo img{
    height: 46px;
}

.header-nav{
    display: flex;
    gap: 26px;
    @media (min-width: 747px){
        gap: 57px;
    }
}

.header-nav_link{
    text-decoration: none;
    color: black;
    font-size: 0.75rem;
    text-transform: uppercase;
    @media (min-width: 747px){
        font-size: 1.5rem;
        text-transform: capitalize;
    }
}

.header-nav_link:hover{
    text-decoration: underline;
}
