.home-banner{
    height: 111px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
    background-image: url('../assets/home-banner.png');
    background-position: center;
    background-size: cover;
    @media (min-width: 747px){
        height: 223px;
    }
}

.home-banner_text{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 10;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    @media (min-width: 747px){
        justify-content: center;
        padding-left: 0;
        font-size: 3rem;
    }
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    @media (min-width: 747px){
        background-color: rgba(246, 246, 246, 1);
        padding: 50px;
        border-radius: 25px;
        gap: 60px;
        row-gap: 50px;
    }
}